include README.md
include LICENSE
recursive-include configs *.json *.yaml
recursive-include docs *.md
recursive-include demos *.py *.teach *.json
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
